@charset "utf-8";
/* CSS Document */

header{
	font-family: 'Puritan', sans-serif; 
	display: block;
	background-color: #29A63C;
    align-content: center;
	height:30vh;
	color:white;
}

body{
	font-family: 'Nunito Sans', sans-serif;
	background-color: #D0F2D5;
}

footer{
	padding-top:15px;
	padding-left: 50px;
	font-family: 'Puritan', sans-serif; 
	background-color:#29A63C;
	align-image: center;
	
}